#loginPage{
    display:flex;
    flex-direction: column;
    padding-top: 5%;
    margin: auto;
    width: 300px;
    align-items:center;

}

label, input{
    font-family: 'Dosis',sans-serif;
    font-size: 25px; 
}

label{
    background-color: #293241;;
    width: 300px;
    color: white;
}

input{
    width: 292px;
}

#loginButton{
    width: 295px;
    font-family: 'Dosis bold 700',sans-serif;
    font-size: 25px;
    color:#98c1d9;
    background-color:#293241;
    margin: auto;
    margin-top: 2%;
}
#loginButton:hover{
    opacity: 10%;
}

