/* 
#title{
    text-align: center;
}

#h1_title{
    display:flex;
    color: #ee6c4d;
    font-family: 'Dosis bold 700',sans-serif;
    font-size: 34px;
}

#navBar{
    display:flex;
    justify-content: space-around;
    font-family: 'Dosis',sans-serif;
} */